.tickedCard {
	display: flex;
	background-color: var(--white);
	margin-bottom: 30px;
	.buy {
		width: 20%;
		padding: 20px;
		border-right: 1px solid var(--light-gray);
		margin-right: 20px;
		.logo {
			height: 100px;
			width: 100%;
			object-fit: cover;
			margin-bottom: 20px;
		}
	}
	.arrow {
		width: 100%;
		position: relative;
		text-align: center;
		opacity: 0.5;
		text-transform: uppercase;
		&::after {
			content: '';
			display: block;
			height: 2px;
			background-color: var(--gray);
			margin-top: 5px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			right: 0;
			top: calc(50% + 2px);
			background: url('/images/airplane.png') center/contain no-repeat;
		}
	}
	.information {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex: 1;
		padding: 20px 60px;
		.from {
			margin-right: 20px;
			flex-shrink: 0;
			width: 25%;
		}
		.to {
			margin-left: 20px;
			flex-shrink: 0;
			width: 25%;
		}
	}
	.time {
		font-size: 40px;
		margin-bottom: 5px;
	}
	.city {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.date {
		font-size: 14px;
		color: var(--gray);
	}
}
