:root {
	--accent-color: #0066cc;
	--filter-button-hover: rgba(0, 102, 204, 0.3);
	--orange: #ff681f;
	--light-orange: #f5802d;
	--black: #161616;
  --gray:#8e8f94;
	--light-gray: #dadada;
	--dark-white: #f4f4f4;
	--white: #fdfdfd;
}
